<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Student">Index</a>
        <a class="btn btn-primary" href="#">Calculate Form</a>
        <a class="btn btn-primary" asp-action="StudentList" asp-controller="Student">Student List</a>
        <a class="btn btn-primary" href="#">My Details</a>
        <a class="btn btn-primary" href="#">UserId : @ViewBag.UserId</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>